matrix:
  include:
    language: java
    
    language: android

    
android:
   components:
      - tools
      - platform-tools
      - tools
     
  # The BuildTools version used by your project
      - build-tools-28.0.3

  # The SDK version used to compile your project
      - android-27



after_success:
  - bash <(curl -s https://codecov.io/bash)

script:
  - ./gradlew check
  - ./gradlew build check
  - ./gradlew build jacocoTestReport
  - ./gradlew test
